.iconstyle
{
  font-size:30px;
  margin:20px;
}
.badgestyle
{
  vertical-align: center;
  background-color:#FFA000;
  color: black;
  font-size: 20px; 
  text-orientation: right;
  margin:7px;
}
.badge-div
{
  padding-left: 75px;
}
.resume-wrap
{
  height:190px;
}